* body {
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.login {
    display: flex;
    margin-top: 100px;
    margin-left: 40%;
    height: 400px;
    width: 350px;
    background-color: gainsboro;
    border-radius: 10px;
    align-items: center;
}

.h2-text {
    margin-left: 35%;
    margin-top: -30px;;
}

.text {
    margin-left: 10px;
}

.text-field {
    width: 300px;
    height: 25px;
    margin: 20px;
}

.btn {
    width: 310px;
    height: 35px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.btn-logout {
    width: 310px;
    height: 35px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.inner {
    margin: 10px;
}
